.sticky {
    position: sticky;
    top: 0;
    z-index: 50;
}  
  
  .header-sticky.sticky {
    -webkit-animation: 800ms ease-in-out 0s normal none 1 running slideInDown;
            animation: 800ms ease-in-out 0s normal none 1 running slideInDown;
    left: 0;
    position: fixed;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
    right: 0;
    top: 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    z-index: 99;
  }

  /* ---Main Menu--- */
.main-nav > ul > li {
    display: inline-block;
    position: relative;
    padding: 30px 0;
  }
  
  .main-nav > ul > li:hover .dropdown-hover {
    visibility: visible;
    opacity: 1;
    top: 100%;
  }
  
  .main-nav > ul > li:hover .dropdown-hover-2 {
    visibility: visible;
    opacity: 1;
    top: 100%;
  }
  
  .main-nav > ul > li > span {
    display: block;
    padding: 8px 16px;
    font-size: 15px;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 18px;
    color: #000000;
    cursor: pointer;
  }
  
  .main-nav > ul > li > a.active {
    color: #E72463;
  }
  
  .main-nav > ul > li > a:hover {
    color: #E72463;
  }
  
  .main-nav > ul > li > a i {
    margin-left: 0px;
    font-size: 15px;
    vertical-align: middle;
  }
  
  .main-nav > ul > li > a .menu-text {
    position: relative;
  }
  
  
  .dropdown-submenu {
    background: #ffffff;
    padding: 20px 0 24px;
    width: 230px;
    -webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3);
    border-bottom: 3px solid #E72463;
  }
  
  .dropdown-submenu > li > a {
    padding: 10px 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    line-height: 18px;
    position: relative;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
  }
  

  .dropdown-submenu > li > a:hover {
    color: #E72463;
  }
  
  .dropdown-submenu > li > a.active {
    color: #E72463;
  }

  .dropdown-submenu > li > a > i {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 2%;
    font-size: 15px;
    padding-right: 15px;
  }


  .dropdown-hover {
    position: absolute;
    top: 110%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s linear 0.2s;
    -o-transition: all .3s linear 0.2s;
    transition: all .3s linear 0.2s;
    z-index: 999;
  }

  .dropdown-hover-2 {
    position: absolute;
    top: 110%;
    right: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s linear 0.2s;
    -o-transition: all .3s linear 0.2s;
    transition: all .3s linear 0.2s;
    z-index: 999;
  }
  

  /*--- Mega-Menu ---*/
.mega-menu {
    background: #ffffff;
    width: 350px;
    left: 50%;
    /* -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); */
    /* padding: 20px 0; */
    -webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3);
    border-bottom: 3px solid #E72463;
  }
  
  @media (max-width: 1199px) {
    .mega-menu {
      left: 100%;
    }
  }
  
  .mega-menu .menu-colum {
    width: 100%;
    padding: 10px;
    float: left;
  }
  
  .mega-menu .menu-colum ul li .mega-menu-text {
    position: relative;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    display: table-caption;
    padding: 0px 20px 0px 0px;
    margin: 0px 0px 10px 20px;
  }
  
  .mega-menu .menu-colum ul li .mega-menu-text:after {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    border-bottom: 2px solid #E72463;
    content: "";
    z-index: 1;
  }
  
  .mega-menu .menu-colum ul li a {
    padding: 10px 20px;
    display: block;
    font-family: "Poppins", sans-serif;
    line-height: 20px;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
  }
  
  .mega-menu .menu-colum ul li a:hover {
    color: #E72463;
  }
  
  .mega-menu .menu-colum ul li a.active {
    color: #E72463;
  }

  .designColor{
    background: #faa7a7;
  }
  
.borderDesign{
    padding-top: 20px;
    border-bottom: 2px solid #E72463;
}
.borderDesigns{
    border: 2px solid #E72463;
}
  
.bgdesign{
    background: radial-gradient(#480d35 ,#17151d);
    /* display: grid;
    place-items: center; */
}
  